* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calculator {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header {
  grid-column: 1/5;
  background: grey;
  color: #fff;
  padding: 20px 5px;
  font-weight: 900;
  font-size: 18px;
  text-align: right;
}

.zero {
  grid-column: 1/3;
}

.light-grey {
  background: rgb(221, 220, 220);
  border: 1px solid rgb(192, 190, 190);
  padding: 20px 0;
}

.orange {
  background: orange;
  padding: 20px 0;
  border: 1px solid rgb(192, 190, 190);
}
